#verifyEmail {
  .has-error {
      input, select, textarea {
          border: 1px solid red;
      }
  }

  .loading-spinner {
      mat-spinner {
          display: inline-block;
      }
  }

  .error {

  }

  .success {

  }
}