<div id="content" class="padding10pxSides">
  <h1>ABOUT InGroups</h1>

  Die Event-Community für Stadtleben, Freizeit und Kennenlernen. Das Ziel von InGroups ist, Menschen zusammenzubringen – und
  das im wahren Leben. InGroups ist kostenlos und die Teilnahme ganz einfach ohne Registrierung möglich. Kontakte mit Gleichgesinnten
  knüpfen ging niemals schneller!

  <br>
  <br>

  <h3>Die Idee</h3>
  Insbesondere in einer Zeit, in der es immer mehr Single-Haushalte gibt, in der sich Personen zu Hause in die virtuelle Welt
  zurückziehen und mit Menschen kommunizieren, die sie weder wirklich kennen, noch zu ihren Freunden zählen können, ist es
  an der Zeit, eine Gegenbewegung zu starten, mit der der Mensch und die Gemeinschaft wieder in den Mittelpunkt rückt. Mit
  InGroups wird der erste Schritt in diese Richtung gemacht. Wir holen das soziale Leben und Netzwerk zurück in die Realität.
  Neue Leute lernt man kennen, in dem man raus- und weggeht! Mit der InGroups-Plattform ist es einfach, eine Gruppe je nach
  Belieben zusammenzustellen. Missverständnisse bei Verabredungen gibt es nicht.

  <br>
  <br>

  <h3>Die Mission</h3>
  InGroups heißt Kennenlernen. Spaß haben. Erleben. Flirten. „InGroups“ bringt Menschen zusammen. Neue Freunde in einer noch
  fremden Stadt zu finden oder auch gemeinsame Aktivitäten zu erleben. Mit InGroups wird das „Kennenlernen“ vereinfacht und
  inspiriert zu Abenteuern in der Gruppe. Dem Alltag entfliehen, neue Menschen kennenlernen, unbekannte Sportarten und Landschaften
  oder Locations entdecken. Kurz: Gemeinsam Spaß haben und was erleben. Dabei unterstützt InGroups. Vielleicht triffst Du
  Deine neue beste Freundin oder Deinen Kumpel mit genauso viel Leidenschaft für Fußball wie Du sie selbst hast. Oder Du
  lernst Deine Lieblingssportart kennen. Und nebenbei noch Deinen Traummann oder Traumfrau für den Rest Deines Lebens. Ganz
  egal, was Dich erwartet, auf euch wartet einfach eine unvergessliche Zeit!

  <br>
  <br>

  <h3>Die Umsetzung</h3>
  „InGroups“ verbindet und animiert: zum Essen oder Feiern treffen, gemeinsam Sport machen, sich Tipps für das Stadtleben holen
  und sich vielleicht auch verlieben. Möglichkeiten, etwas zu erleben, gibt es viele. Entweder ihr sucht als bestehende Gruppe
  von Freundinnen oder Freunden, von zwei bis max. 15 Personen, andere Gleichgesinnte und lernt diese kennen oder aber ihr
  startet alleine ein Event und sucht passende Mitstreiter. Wie auch immer Euer Ziel aussehen mag, das Event ist auf unserer
  Website schnell erstellt. Ladet ein aussagekräftiges Foto hoch, dazu ein paar wissenswerte Informationen, alles abschicken
  und fertig! Ab jetzt dürft Ihr Euch überraschen lassen, wer mit dabei ist! Die revolutionäre Verbindung zu WhatsApp bringt
  die Nachrichten und Anfragen in Echtzeit auf Dein Smartphone, so kannst Du sofort reagieren und verpasst nicht, wer sich
  Deiner Gruppe anschließen möchte. Andersherum geht es natürlich auch! Ihr seid auf der Suche nach einem tollen Event? Klickt
  Euch durch, ladet ein tolles Foto von Euch hoch und schreibt kurz, wieso ihr die richtigen für dieses Event seid. Und schon
  geht’s los. Nach diesem Vorgang bekommt Ihr eine Liste von bestehenden Gruppenmitgliedern angezeigt, die im näheren, lokalen
  Umfeld leben.

  <br>
  <br>

  <h3>Die Story</h3>
  Die Idee zum unbeschwerten Kennenlernen kam uns Gründern von InGroups an einem Junggesellenabschied im Sommer 2014. Hier
  sind wir zufällig auf eine weitere Truppe gestoßen, die ebenfalls einen stimmungsvollen Abend geplant hatte. Kurzerhand
  haben wir uns zusammengetan und hatten eine tolle Zeit, bei der echte Freundschaft entstanden sind. Da wussten wir: Diese
  Idee wollen wir mit möglichst vielen Menschen teilen. Und nicht nur das. Wir wollen klarmachen, dass wahre Freundschaften
  und Erlebnisse, die bleiben, nur in der Realität und nicht in der virtuellen Welt zu finden sind! Seit diesem Zeitpunkt
  wurde InGroups detailliert durchdacht und umgesetzt.

  <br>
  <br>
  <br>

  <h2>Q&amp;A</h2>

  <h3>Was ist InGroups?</h3>
  „InGroups“ ist ein Netzwerk von Gruppen, die sich zum Essen treffen, gemeinsam Sport machen, sich Tipps in fremden Städten
  geben und sich vielleicht auch mal verlieben. Viele davon sind bereits in einer Beziehung und wollen einfach nur nette
  Leute kennen lernen. Es geht nicht darum, bereits bestehende Kontakte zu pflegen. InGroups ist eine Online-Community, in
  der man neue Leute – egal welchen Alters - kennenlernen kann.

  <br>
  <br>

  <h3>Gibt es Regeln? </h3>
  Nur ein paar! Alle Texte oder Nachrichten, die eingegeben werden, müssen den AGBs und dem allgemeinem Anstand entsprechen.
  Pornographisches Bildmaterial oder andere anstößige Inhalte werden sofort gelöscht und können zur Löschung des Accounts
  führen. Man beachte auch die Urheberrechte Dritter. Weitere Infos gibt es unter Community Richtlinien, AGB, und Datenschutzrichtlinien.

  <br>
  <br>

  <h3>Was ist das Besondere an „InGroups“?</h3>
  Ganz einfach, es funktioniert! „InGroups“ bietet eine übersichtliche Plattform, die einfach zu benutzen ist und deren Nutzer
  selbst entscheiden können, wie weit sie gehen möchten. „InGroups“-Miglieder empfinden die Community als wertvolle, regelmäßige
  Ergänzung zu ihrem Sozialleben, sowohl on- als auch offline.

  <br>
  <br>

  <h3>Wie viel kostet die Mitgliedschaft und Nutzung von „InGroups“?</h3>
  Die Mitgliedschaft ist für alle kostenlos. Sobald sich die User angemeldet haben, können sie mit den Mitgliedern chatten,
  Fotos hochladen, sich die Profile anderer Gruppen in ihrer Umgebung oder auch in einer anderen Stadt oder einem anderen
  Land ansehen und Kontakt aufnehmen.

  <br>
  <br>

  <h3>Wie schützt „InGroups“ die Privatsphäre seiner Mitglieder?</h3>
  Während der einfachen Anmeldung können „InGroups“-Mitglieder wählen, ob und wie viele ihrer Kontakte ihre komplette Profilseite
  sehen dürfen. Die Einstellungen können jederzeit geändert und angepasst werden.

  <br>
  <br>
</div>