<div id="content" class="padding10pxSides">
    <h2>Impressum</h2>
    <h4>Anschrift</h4>
    <p>InGroups<br/>Sven Korth-Proft<br/>Stefan-George-Ring 63<br/>81929 München<br/>E-Mail: home@ingroups.de</p>
    <p>Geschäftsführer<br />Sven Korth-Proft</p>
    <p>Marketing und Vertrieb<br />Amir Navidy</p>
    <p>Sitz der Gesellschaft<br/>München</p>
    <p>Steuernummer: 146/144/70969<br/>USt-IdNr.: DE261076542</p>
    <p>Redaktionell verantwortlich gemäß §55 II RStV<br/>Sven Korth-Proft<br/>InGroups<br/>Stefan-George-Ring 63<br/>81929 München</p>
    <p>Fotos: Shutterstock <br/> Musik: Nora En Pure "Come with me" Ankauf by iTunes</p>
</div>