<div class="modal-header">
  <h4 class="modal-title">Kontaktanfrage</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" id="contactUser">
  <div class="userInfoBox">
    <div class="row">
      <div class="col-12">
          <div class="UserPicturePreview">
              <img [src]="userImage ? userImage : '../../../assets/img/profile.jpg'" />
          </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <img src="../../../../assets/img/transfer.png" class="transferImage" style="margin-bottom: 10px;-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg);-ms-transform: rotate(90deg);"/>
  </div>
  <form class="form-horizontal" [formGroup]="form" id="eventCreate">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title mb-0">Dein Bild:</h6>
      </div>
      <div class="card-content">
        <div class="UserPicturePreview">
          <label id="uploadImageLabel" for="uploadImage" style="width: 100%">
            <img [src]="info.image == '' ? '../../../assets/img/profile.jpg' : info.image" class="img-responsive img-rounded" id="uploadImagePreview"
            />
          </label>
        </div>
        <br/>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <label for="uploadImage">Bild ändern</label>
                </div>
            </div>
            <input type="file" id="uploadImage" name="inputImage" accept="image/*;capture=camera" hidden (change)="fileChangeListener($event)">
            <input type="text" class="form-control" id="eventContactUploadImageName" placeholder="" readonly style="background-color: white;">
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <h6 class="card-title mb-0">Deine Nachricht:</h6>
      </div>
      <div class="card-content">
        <div class="form-group mb-0">
          <div class="input-group" [ngClass]="validate.displayFieldCss(form, 'message')">
            <textarea class="form-control" name="message" [(ngModel)]="info.message" formControlName="message" 
            placeholder="Klingt interessant und ich würd gern mitkommen!"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-2">
      <div class="row">
        <div class="col-6 text-left">
          <button class="btn btn-danger" (click)="cancel()">
            <span class="fa fa-trash"></span> Abbrechen
          </button>
        </div>
        <div class="col-6 text-right">
          <button type="submit" class="btn btn-success" (click)="submit()">
            <span class="fa fa-envelope"></span>Abschicken</button>
        </div>
      </div>
    </div>
  </form>
  <div class="loading" id="loading" style="" align="center" *ngIf="loading">
    <p>
        <img src="../../../../assets/img/ajax-loader.gif" height="96" width="96" style="z-index: 2; position:relative;" /> Bitte warten
    </p>
  </div>
</div>
