<page-header></page-header>
<div id="resetpassword-page">
    <div class="page-wrapper">
        <div class="content-wrapper container">

            <div class="form-wrapper rounded p-4">
                <form [formGroup]="form">
                    <div class="title">Reset Password</div>

                    <div class="success mt-3 text-success" *ngIf="success">
                        <span>Successfully change your password, please <a [routerLink]="['/login']">login</a></span>
                    </div>

                    <div class="input-group mt-3" [ngClass]="validate.displayFieldCss(form, 'password')">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                            </div>
                        </div>
                        <input type="password" class="form-control" name="password" formControlName="password"
                               placeholder="New Password*">
                    </div>

                    <div class="input-group mt-3 mb-3" [ngClass]="validate.displayFieldCss(form, 'repeat_password')">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-check" aria-hidden="true"></span>
                            </div>
                        </div>
                        <input type="password" class="form-control" name="repeat_password"
                               formControlName="repeat_password"
                               placeholder="Repeat password*">
                    </div>

                    <div class="mt-3 text-center loading-spinner" *ngIf="loading">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>

                    <div class="btn-wrapper text-right mt-4" *ngIf="!loading">
                        <button class="btn btn-success" (click)="resetPassword()">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="background"></div>
    </div>
</div>