.cookiebar {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: black;
    color: white;
    padding: 10px;
    border-top-right-radius: 5px;
    width: 100%;
}

.cookiebar a {
    color: white;
}

.cookiebar button {
    background-color: #FFFF2A;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
}