.page-layout {

    #TopBoxGesamt {
        height: 400px;
        font-weight: bold;

        #MEGA_BACKGORUND_box {
            position: relative;
            width: 100%;
            height: 500px;
            overflow: hidden;
            z-index: -1;
            -webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.5);
            -moz-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.5);
            box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.5);

            .MegaBackgroundBanner {
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat no-repeat;
            }
        }

        #TextBoxUeberBanner {
            width: 100%;
            z-index: 2;
            position: absolute;
            margin-top: -300px;
            color: #fff;

            .JoinUsButtonDesign {
                width: 148px;
                height: 38px;
                border: 2px solid white;
                border-radius: 4px;
                background-color: rgba(0, 192, 223, 0.875);
                cursor: pointer;
                font-weight: bold;
                color: white;
                font-size: 20px;
                text-align: center;
                margin-top: -15px;
                display: block;
                text-decoration: none;

                &:hover {
                    color: #23527c;
                    text-decoration: underline;
                }
            }

            #InfoButtonNew {
                margin-top: -60px;
                margin-right: 10px;
                border: 2px solid white;
                background-color: rgba(0, 192, 223, 0.875);
                cursor: pointer;
                color: white;
                font-weight: bold;
            }

            @media (max-width: 991px) {
                #InfoButtonNew {
                    margin-top: 65px !important;
                }
                .JoinUsButtonDesign{
                    margin-top: 5px;
                }
            }
        }

    }

    #FilterWasGesamt {
        button {
            box-shadow: none;
            border: none;
            &.dating {
                background-color: #ee1d4e;
            }

            &.bildung {
                background-color: #f0962c;
            }

            &.sport {
                background-color: #3caddb;
            }

            &.reisen {
                background-color: #fee332;
            }

            &.feiern {
                background-color: #513499;
            }

            &.essen {
                background-color: #a1c330;
            }
        }
    }

    #TopBarBoxDiv {
        .filterBox {
            .nav-tabs {
                .nav-link {
                    color: white;
                    
                    &.active {
                        color: blue;
                    }

                    &:not(.active):hover {
                        background-color: #3071a9;
                    }
                }
            }
        }
    }

    .UserPicture {
        border-top-left-radius: 7px!important;
        border-top-right-radius: 7px!important;

        .backdrop {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.4;
            z-index: 1;

            &.dating {
                background-color: #ee1d4e;
            }

            &.bildung {
                background-color: #f0962c;
            }

            &.sport {
                background-color: #3caddb;
            }

            &.reisen {
                background-color: #fee332;
            }

            &.feiern {
                background-color: #513499;
            }

            &.essen {
                background-color: #a1c330;
            }
        }

        .date {
            position: absolute;
            z-index: 2;
            background-color: white;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            flex-direction: column;
            place-content: center;
            top: 12px;
            left: 12px;

            .month {
                text-transform: uppercase;
                font-weight: bold;
                line-height: 16px;
            }

            .day {
                color: #5dc8dd;
                font-weight: bold;
                font-size: 25px;
                line-height: 18px;
            }
        }

        .image {
            width: 100%;
            height: 100%;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            background-position-y: top;
        }
    }

    

}
@media screen and (min-width:1366px){
    .UserPicture img {
        background-size: cover;
        width: 100% !important;
        height: 100%;
        background-position: center center;
    }
}
