<div id="content" class="padding10pxSides">
    <h3>Allgemeine Geschäftsbedingungen (Nutzungsbedingungen) gültig seit 01.12.2014&nbsp;</h3>

    <h4>Inhaltsverzeichnis</h4>
    <br> A. Nutzungsbedingungen
    <br> B. Schlussbestimmungen

    <h3>Anwendungsbereich</h3>
    Diese Nutzungsbedingungen gelten für die Nutzung der Website&nbsp;http://www.InGroups.de&nbsp;inklusive Subdomains, der Applikation
    „InGroups“ sowie für sämtliche Apps, welche auf die Daten von „InGroups“ zurückgreifen (z.B. Facebook App) (gesamthaft
    "Applikation"). Betreiber dieser Plattform/Applikation ist die Firma InGroups, Stefan-George-Ring 63, DE-81673 München.
    (nachfolgend „INGROUPS“). Es gelten außerdem die Hinweise zum
    <a [routerLink]="['/datenschutz']">Datenschutz</a>.
    <br> InGroups bringt Leute für Aktivitäten zusammen. Du kannst an Aktivitäten teilnehmen und selbst Aktivitäten ausschreiben,
    um Leute zu finden. Zu diesem Zweck stellt dir INGROUPS zahlreiche technische Tools für den Austausch von Inhalten zur
    Verfügung.
    <h3>A. Nutzungsbedingungen</h3>
    <h4>1. Allgemeines</h4>
    <ol>
        <li>Du bist mindestens 16 Jahre alt.</li>
        <li>
            Du bist allein und ausschließlich verantwortlich für die durch dich auf die Plattform/Applikation hochgeladenen Inhalte.
            INGROUPS wird von dir wegen Ansprüchen Dritter bezüglich aller deiner Inhalte freigestellt. Es wird von dir akzeptierst,
            dass die Plattform/Applikation gegebenenfalls persönlich unerwünschte Inhalte enthalten kann.
        </li>
        <li>
            Bei der Nutzung der Plattform/Applikation beachtest du insbesondere alle Gesetze und sonstigen Vorschriften des Landes, in
            dem du dich befindest. Es ist verboten, rechtswidrige oder nach diesen Nutzungsbedingungen unzulässiger Inhalte
            einzustellen.
        </li>
        <li>
            Es liegt allein in deiner Verantwortung, welche Informationen (inkl. Nachrichten, Fotos und Videos) du auf der Plattform/Applikation
            zur Verfügung stellst. Es sollten insbesondere keine Kontaktinformationen oder andere private Daten in öffentlich
            einsehbaren Bereichen der Plattform/Applikation angegeben werden, wenn du nicht möchtest, dass diese von anderen
            Nutzern eingesehen werden können.
        </li>
        <li>Verwende bei Nutzung der Plattform/Applikation deinen richtigen Namen. Die Verwendendung eines Pseudonyms ist aus
            Sicherheits- und Transparenzgründen untersagt.</li>
        <li>Andere InGroups-Mitglieder dürfen von dir weder getäuscht noch belästigt werden.</li>
        <li>Du bist verpflichtet, die Regelungen der Hinweise zum
            <a [routerLink]="['/datenschutz']">Datenschutz</a> zu beachten.</li>
    </ol>
    <h4>2. Zulässige und unzulässige Inhalte</h4>
    <ol>
        <li>
            INGROUPS legt großen Wert darauf, dass die Plattform/Applikation für alle Nutzer ein sicherer und zudem freundlicher Ort
            gegenseitiger Achtung bleibt. Den Nutzern ist es daher untersagt, andere Nutzer zu beleidigen, beschimpfen, obszöne
            oder sonstige belästigende und ehrkränkende Äußerungen zu tätigen oder pornographisches und anderes jugendgefährdendes
            Material einzustellen oder zu verbreiten. Ferner ist das Einstellen und die Verbreitung rassistischer, sexistischer
            sowie gewaltverherrlichender Inhalte verboten. Dies gilt auch für Inhalte, die zu terroristischen Aktivitäten
            oder sonstigen kriminellen und rechtswidrigen Handlungen motivieren sollen oder solche Handlungen auf irgendeine
            Art und Weise befürworten.
        </li>
        <li>Des Weiteren ist es untersagt, Inhalte einzustellen, die ausschließlich auf Dating oder sexuelle Kontakte abzielen.</li>
        <li>
            Eine Verwendung der Plattform/Applikation, um Werbung für kommerzielle Angebote zu machen, ist strikt untersagt. Schreibe
            insbesondere keine Angebote als „Aktivität“ aus, wenn du finanziell davon profitierst. Sofern du Interesse daran
            hast, InGroups kommerziell zu nutzen, so wende dich bitte mit einer entsprechenden Anfrage an home@ingroups.de
        </li>
    </ol>

    <h4>3. Sonstige Rechte von INGROUPS</h4>
    INGROUPS behält sich folgende, ausschließliche Rechte vor:
    <ol>
        <li>
            INGROUPS darf dir regelmäßig Nachrichten senden, um dich über Neuheiten und Weiterentwicklungen der Plattform/Applikation
            zu informieren.
        </li>
        <li>
            INGROUPS behält sich vor, von Nutzern eingestellte Inhalte zu ändern oder zu löschen, insbesondere soweit diese gegen gesetzliche
            Bestimmungen oder diese AGBs verstoßen oder bei INGROUPS oder Dritten zu Schäden führen. Wir behalten uns vor,
            Nutzer insbesondere bei Verstößen gegen die AGBs auszuschließen und die von dir eingestellten Inhalte sowie dein
            Profil zu deaktivieren, vollständig zu löschen oder in Zukunft zu blocken.
        </li>
        <li>
            INGROUPS behält sich vor, jegliche Hinweise auf rechtswidrige Aktivitäten einzelner Nutzer sowie entsprechend verdächtige
            Inhalte unter Wahrung des Datenschutzrechts bei den jeweils zuständigen Behörden anzuzeigen.
        </li>
        <li>
            INGROUPS hat das Recht, von Nutzern eingestellte Fotos und – in anonymisierter Form – andere Inhalte auf öffentlich abrufbare
            Bereiche der Plattform/Applikation zu legen.
        </li>
        <li>
            INGROUPS hat weiterhin das Recht Nutzerdaten zwecks Marktanalyse und zu Werbezwecken im Rahmen geltender Datenschutzbestimmungen
            weiterzuverarbeiten, nutzen und an Dritte weiterzugeben. Der Nutzer erklärt sich weiterhin damit einverstanden
            durch INGROUPS und deren Partnern zwecks Werbung kontaktiert zu werden. Der Nutzer hat jederzeit das Recht der
            Nutzung und Weitergabe seiner Daten an Dritte zu widersprechen. Für den Widerspruch reicht die Einreichung per
            Text- oder Schriftform an home@ingroups.de oder an InGroups, Sven Korth-Proft, Stefan-George-Ring 63, DE-81929
            München.
        </li>
    </ol>

    <h4>4. Beachtung von Urheber- und sonstigen Schutzrechten</h4>
    <ol>
        <li>
            INGROUPS weist zum Schutz von Urheber- und sonstigen geistigen oder gewerblichen Eigentumsrechten ausdrücklich darauf hin,
            dass jegliche Verwendung von Inhalten verboten ist, die Rechte Dritter verletzt.
        </li>
        <li>
            Abgesehen von den durch die Nutzer erstellten Inhalten (dem so genannten "User Generated Content"), stehen alle sonstigen
            Elemente der Plattform/Applikation wie etwa Texte, Darstellungen, Benutzeroberflächen, Marken, Logos, Sounds
            sowie Designs im Eigentum von INGROUPS oder der jeweiligen Inhaber und sind rechtlich geschützt.
        </li>
        <li>
            Kein Bereich der Plattform/Applikation (inklusive aller Inhalte) darf ohne schriftliche Erlaubnis von INGROUPS auf anderen
            Servern, Websites oder auf sonstigen zur Veröffentlichung und Verbreitung gedachten Medien dargestellt oder reproduziert
            werden.
        </li>
    </ol>

    <h4>5. Verantwortlichkeit und Haftungsausschluss</h4>
    <ol>
        <li>
            Die Inhalte der Plattform/Applikation „Ingroups“ wurden sorgfältig erstellt. Es wird keine Gewähr für die Richtigkeit, Vollständigkeit
            und Aktualität der Inhalte übernommen. INGROUPS haftet insbesondere nicht für die Verfügbarkeit von in der Plattform/Applikation
            angebotenen Leistungen oder das Zustandekommen oder die vertragsgemäße Erfüllung eines aufgrund einer Kontaktherstellung
            zwischen einem Nutzer und einem Anbieter zustande gekommenen Vertrages.
        </li>
        <li>
            Als Dienstanbieter ist INGROUPS gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
            Nach §§ 8 bis 10 TMG ist INGROUPS als Dienstanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte
            fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
            hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
            Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen wird INGROUPS diese Inhalte
            nach Prüfung entfernen.
            <br> INGROUPS bittet dich, Missbrauchsfälle unverzüglich auf der Plattform/Applikation oder unter home@ingroups.de
            zu melden.
        </li>

        <li>
            Soweit gesetzlich zulässig, ist jede Haftung von INGROUPS ausgeschlossen. Insbesondere ist INGROUPS berechtigt, jederzeit
            den Betrieb der Plattform/Applikation ganz oder teilweise einzustellen. INGROUPS übernimmt keine Gewähr für die
            ununterbrochene Verfügbarkeit von INGROUPS.
        </li>
    </ol>
    <h4>6. Angebote von Partnern</h4>
    <ol>
        <li>
            INGROUPS arbeitet mit Partnern (nachfolgend „Partner“) zusammen, welche dir Angebote zur Verfügung stellen, die du direkt
            von diesen Partnern beziehen kannst.
        </li>
        <li>
            INGROUPS hat das Recht, Angebote von Partnern an dich weiterzuleiten, und sich dabei auf Nutzungsinformationen (z.B. Ortsangaben)
            und Daten aus deinem Profil zu stützen.
        </li>
        <li>
            INGROUPS vermittelt lediglich Angebote von Partnern. Werden von dir solche Angebote beansprucht, gehst du direkt eine vertragliche
            Bindung mit dem jeweiligen Partner ein und INGROUPS wird dabei nicht Vertragspartei.
        </li>
        <li>INGROUPS übernimmt keinerlei Haftung für Angebote von Partnern.</li>
        <li>
            Haftung für Hyperlinks: Die Plattform/Applikation enthält Links zu externen Webseiten Dritter, auf deren Inhalte INGROUPS
            keinen Einfluss hat. INGROUPS übernimmt für diese fremden Inhalte keine Gewähr. Für die Inhalte der verlinkten
            Seiten ist regelmäßig der jeweilige Anbieter oder Betreiber der jeweiligen Seiten verantwortlich. Die verlinkten
            Seiten wurden zum Zeitpunkt der Verlinkung von INGROUPS auf mögliche Rechtsverstöße überprüft. Rechtswidrige
            Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten
            Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
            wird INGROUPS derartige Links gemäß 6. überprüfen.
        </li>
    </ol>
    <h4>7. Ausfall / Wartungsarbeiten</h4>
    <ol>
        <li>
            INGROUPS unterhält für seine Plattform/Applikation ein immerzu überwachtes Server-System. Dem Nutzer wird bei ordnungsgemäß
            laufendem System der jederzeitige Zugang zu den für ihn bestimmten Bereichen ermöglicht.
        </li>
        <li>
            Im Hinblick auf Kapazitätsgrenzen, die Sicherheit und Integrität der Server oder zur Durchführung technischer Maßnahmen,
            behält sich INGROUPS das Recht vor, seine Leistung temporär zu beschränken. INGROUPS verpflichtet sich dazu,
            Leistungsbeschränkungen nur bei einer Zumutbarkeit für den Nutzer und einer Berücksichtigung der Interessen des
            Nutzers, weiterer Informationsanbieter und der eigenen Interessen von INGROUPS vorzunehmen.
        </li>
        <li>
            Bei einem Systemausfall oder einer Serverbeeinträchtigung und hierdurch verursachter fehlerhafter Übermittlung der Daten
            des Nutzers, der/die weder auf vorsätzliches, noch grob fahrlässiges Verhalten von INGROUPS, seinen Mitarbeitern
            oder Erfüllungsgehilfen beruht, bestehen keine Ansprüche des Nutzers auf Schadensersatz.
        </li>
        <li>Voraussehbare notwendige Betriebsunterbrechungen für vorbeugende Wartungsarbeiten oder technische Änderungen werden
            dem Nutzer innerhalb eines angemessenen Zeitraums vor der Betriebsunterbrechung angekündigt.</li>
    </ol>
    <h4>8. Datenschutzklausel</h4>
    <ol>
        <li>Hinsichtlich des Datenschutzes gelten die folgenden Datenschutzinformationen von INGROUPS, welche du unter folgendem
            Link abrufen kannst:
            <a [routerLink]="['/datenschutz']">Datenschutzrichtlinien</a>
        </li>
    </ol>

    <h3>B. Schlussbestimmungen</h3>
    <h4>1. Änderungen dieser Nutzungsbestimmungen</h4>
    <ol>
        <li>
            INGROUPS behält sich das Recht vor, diese Nutzungsbestimmungen jederzeit zu ändern. Sollte INGROUPS essentielle Änderungen
            vornehmen, wird INGROUPS die Nutzer bzw. Mitglieder auf ihrer Webseite, per E-Mail oder über eine Mitteilung
            auf/in der Plattform/Applikation entsprechend informieren. Die aktuellen Nutzungsbestimmungen können jederzeit
            auf/in der Plattform/Applikation und auf www.ingroups.de eingesehen werden. Wenn du mit den Änderungen nicht
            einverstanden bist, bitten wir dich, (bei Vorliegen) dein Profil zu löschen.
        </li>
    </ol>
    <h4>2. Anwendbares Recht und Gerichtsstand</h4>
    <ol>
        <li>Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts. Unberührt bleiben zwingende
            Bestimmungen des Staates, in dem der Nutzer seinen gewöhnlichen Aufenthalt hat.</li>
        <li>
            Sofern der Nutzer Kaufmann, eine juristische Personen des öffentlichen Rechts oder öffentlich-rechtlichen Sondervermögen
            ist oder keinen allgemeinen Gerichtsstand im Inland hat oder nach Vertragsschluss seinen Wohnsitz ins Ausland
            verlegt hat oder seinen Wohnsitz zum Zeitpunkt der Klageerhebung nicht bekannt ist, ist der Gerichtsstand für
            die sich aus der Nutzung der Dienste und Leistungen von INGROUPS ergebenden Streitigkeiten der Sitz von INGROUPS.
        </li>
        <li>Sollten einzelne Bestimmungen dieser AGBs unwirksam sein oder werden, so wird die Gültigkeit des Vertrags insgesamt
            hiervon nicht berührt.</li>
    </ol>
</div>