<div id="footer" *ngIf="setting.showMode.footer">
    <div class="row p-3">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-xs-12">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3 text-center">
                    <!-- <img src="../../../assets/img/logoWhite.png" alt="" class="logo"/> -->
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12 .d-sm-none">
                    <p class="head">ABOUT</p>
                    <p class="description">
                        Die Event-Community für Stadtleben, Freizeit und Kennenlernen. InGroups ist kostenlos. 
                        Kontakte knüpfen mit Gleichgesinnten ging niemals schneller!
                    </p>
                    <p class="head">KONTAKT</p>
                    <p class="FOOTERHOME_smallText">home@InGroups.de</p>
                    <p class="FOOTERHOME_smallText">+49 162 9691661</p>

                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <p class="head">ABOUT</p>
                    <p class="FOOTERHOME_smallText">
                        <a href="/info" target="_blank">Info</a>
                    </p>
                    <p class="FOOTERHOME_smallText">
                        <a href="/agb" target="_blank">AGBs</a>
                    </p>
                    <p class="FOOTERHOME_smallText">
                        <a href="/datenschutz" target="_blank">Datenschutz</a>
                    </p>
                    <p class="FOOTERHOME_smallText">
                        <a href="/impressum" target="_blank">Impressum</a>
                    </p>

                    <a class="app-store-badge-apple" href="https://itunes.apple.com/de/app/ingroups/id1136318897?mt=8">
                    </a>

                    <a href='https://play.google.com/store/apps/details?id=de.ingroups.ingroups3&hl=de'>
                        <img class="app-store-badge-google" alt='Jetzt bei Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/de_badge_web_generic.png'
                        />
                    </a>

                    <br>
                    <a href="https://www.instagram.com/ingroups.de/">
                        <img src="../../../assets/img/Social/Active/Instagram.png" onmouseover="this.src = '../../assets/img/Social/Hover/Instagram.png'"
                            onmouseout="this.src = '../../assets/img/Social/Active/Instagram.png'" class="socialIcons">
                    </a>
                    <a class="social-media-badge-bottom" href="https://www.facebook.com/pages/InGroups/1574204029504814?fref=ts">
                        <img src="../../../assets/img/Social/Active/Facebook.png" onMouseOver="this.src = '../../assets/img/Social/Hover/Facebook.png'"
                            onMouseOut="this.src = '../../assets/img/Social/Active/Facebook.png'" class="socialIcons">
                    </a>

                    <a class="social-media-badge-bottom" href="https://plus.google.com/117271350163114780331/about">
                        <img src="../../../assets/img/Social/Active/Google-Plus.png" onMouseOver="this.src = '../../assets/img/Social/Hover/Google-Plus.png'"
                            onMouseOut="this.src = '../../assets/img/Social/Active/Google-Plus.png'" class="socialIcons">
                    </a>
                </div>
                <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                    <!-- <img src="../../../assets/img/madeInMunich.png" alt="" class="logo"> -->
                </div>
            </div>
            <div class="row media">
                <div class="col-12">
                    <p class="text-center">
                        Copyright © 2018 InGroups. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
